.message {
  margin-bottom: 10px;
  padding: 0.3rem;
  border-radius: 3px;
  &.success {
    border: 1px solid var(--success);
    background-color: var(--lightSuccess);
    span::before {
      margin-right: 5px;
      color: var(--success);
      content: '\2713';
    }
  }
  &.error {
    border: 1px solid var(--error);
    background-color: var(--lightError);
    span::before {
      margin-right: 5px;
      color: var(--error);
      content: '\26A0';
    }
  }
}
