.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &.plainText {
    padding: 0.3rem 0;
  }
  &:not(.plainText) {
    padding: 0.3rem 0.6rem;
    background-color: var(--accent);
    color: white;
  }
  &:disabled {
    background-color: var(--lightGray);
    cursor: inherit;
  }
}
@media (hover: hover) {
  .button {
    &:not(.plainText):hover {
      background-color: var(--subAccent);
    }
    &.plainText:hover {
      color: var(--subAccent);
    }
  }
}
@media (max-width: 375px) {
  .button {
    padding: 0.4rem 0.8rem 0.3rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 7px;
  }
}
